<h1>Your Score</h1>
<p>   ---   </p>

<p> <%= @attempt %> </p>
<!-- <p> <%= @word_valid %> </p>
 -->
<p> <%= @score_message %></p>
<p> your score is <%= @score %></p>
<br>


<br>

<p> <%= link_to 'Play Again', '/game' %> </p>
